body
{
    color: white;
    background-color:rgb(27, 27, 27);
}

#title
{
    border-bottom: solid white 2px;
    display: inline-block;
    padding: 0em 1.5em 0.2em 1.5em;
}

.main
{
    background-color: black;
    text-align: center;
    padding: 2.5em;
}

.section-title
{
    color:black;
    background-color: white;
    line-height: 1.7;
    margin: 0px;
    text-align: center;
    margin:0px -15px 0px -15px;
}

.projects
{
    background-color: black;
    padding: 1em;
}
.project-Logo>a
{
    color: white;
}

.white-line
{
    border-bottom: solid white 8px;
    margin-left: -8px;
    margin-right: -8px;
}

.item-link
{
    display: block;
    /*background-color:#ebebeb;*/
    border-right: solid white 3px;
}
.item-link>.container
{
    display: inline-block;
    padding: 0px;
}

.project-Logo
{
    float: left;
    width: 20%;
}

.description
{
    color:white;
    display: block;
    width: 80%;
    float: left;
    text-overflow:ellipsis;
    padding-left: 0.1em;
}
.description>.project-title
{
    color: black;
    background-color: white;
    margin-top: 0px;
    margin-left: 10px;
    line-height: 1.5;
}
.description>*
{
    padding-left: 2.3em;
}