@use "../values" as values;

#projects-section {
    display: flex;
    flex-direction: column;

    .tabs {
        // border: 1px solid whitesmoke;
        // color: dimgray;
        // background-color: whitesmoke;

        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        min-width: 100vw;
        font-weight: bold;
        font-size: 0.9em;
        color: values.$white1;
        background-color: values.$black2;

        & > * {
            padding: 1em;
            margin: 0em 0.3em 0em 0.3em;
            white-space: nowrap;
            border-radius: 2px 2px 0px 0px;
        }
    }

    .tab {
        &.selected, &:hover {
            // box-shadow: values.$shadow;
            background-color: values.$white1;
            color: black;
            cursor: default;
        }
    }

    .p-list-description-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .p-list-description {
        text-align: center;
        padding: 1em;
        padding-top: 3em;
        color: values.$black2;
    }

    .project-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .project-item-card {
        
        padding: 0.5em 0em 01em 2em;
        // border: solid whitesmoke;
        // border-width: 1px 0px 1px 0px;
        max-width: 600px;
        width: 80vw;

        .project-description {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: values.$black2;
        }

        &:hover {
            // border-left: solid 1px black;
            background-color: values.$black2;
            color: white !important;
            cursor: pointer;

            .tech-pill {
                background-color: transparent !important;
                // border: values.$white2 solid 1px;
            }

            .project-description {
                color: values.$white2;
            }
        }

        .project-top-bar {
            display: flex;
            flex-wrap: nowrap;
            overflow: hidden;
            flex-direction: row;
            padding-bottom: 0.1em;
            align-items: center;

            & > span {
                white-space: nowrap;

                &:not(:last-child) {
                    padding-right: 0.2em;
                }

                &.tech-pill {
                    background-color: values.$white2;
                    border-radius: 1000px;
                    padding: 0.1em 1em 0.1em 1em;
                    margin: 0em 0.1em 0em 0.1em;
                    font-size: 0.7em;
                }

                &.project-name {
                    font-size: 1.1em;
                    font-weight: bold;
                    width: fit-content;
                    padding: 0.5em;
                    padding-right: 1em;
                    padding-left: 0em;
                }
            }            
        }
    }
}


