@import "node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
  "primary": rgb(43, 43, 43),
  "light": #fcfcfc,
  //"light": #f7f6e7,
  "dark": #537791
);

//These variables follow the golden ratio.
$first: 100vh * 0.6180;
$second: 100vh * 0.6180 * 0.6180;
$third: 100vh * 0.6180 * 0.6180 * 0.6180;
$forth: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$fifth: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$sixth: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$seventh: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$eigth: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$ninth: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$tenth: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;

//This represents the standard size for the top part of each page section. This part contains the title. 
$standard_top_size: $third;

@font-face{
    font-family: Josefin;
    src: url(assets/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face{
    font-family: Caveat-Bold;
    src: url(assets/fonts/Caveat/Caveat-Bold.ttf);
}
@font-face{
    font-family: Permanent_Marker;
    src: url(assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}
@font-face{
    font-family: Bebas_Neue;
    src: url(assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

body{
    background: theme-color("light");
}

.page_section{
    width:100vw;
    height: 100vh;
}