@import "node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
  "primary": #F25757,
  "light": #EAF2E3,
  "dark": #3E4E50
);
$primary_extrusion_color: darken($color: theme-color("primary"), $amount: 12%);
$dark_extrusion_color: lighten($color: theme-color("light"), $amount: 12%);

//These variables follow the golden ratio.
$first: 100% * 0.6180;
$second: 100% * 0.6180 * 0.6180;
$third: 100% * 0.6180 * 0.6180 * 0.6180;
$forth: 100% * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$fifth: 100% * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$sixth: 100% * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$seventh: 100% * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$eigth: 100% * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$ninth: 100% * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$tenth: 100% * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;

@font-face{
    font-family: Josefin;
    src: url(assets/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face{
    font-family: Caveat_Bold;
    src: url(assets/fonts/Caveat/Caveat-Bold.ttf);
}
@font-face{
    font-family: Permanent_Marker;
    src: url(assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}
@font-face{
    font-family: Bebas_Neue;
    src: url(assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

body{
    background: theme-color("light");
}

.page_section{
    height: 100vh;
    position: relative;
}

.top_section{

    #Title_text{
        color: theme-color("primary");
        position: absolute;
        bottom: $sixth;
        font-family: Bebas_Neue;
        line-height: 3rem;
        width: 100%;
        text-align: center;
        font-size: 7rem;
        text-shadow: 3px -3px 0px $primary_extrusion_color;
    }
    #A_Frame_Scene{
        $margin_size: $eigth;
        position: absolute;
        border:none;
        left: $margin_size;
        width: 100% - ($margin_size * 2);
        bottom: $second * (1 - 0.618);
        height: 100% - ($second * (1 - 0.618)) - $margin_size * 2;
        -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,1);
        box-shadow: 0px 0px 7px 0px rgba(0,0,0,1);
        //box-shadow: 0px -0px 0px 4px $dark_extrusion_color;
        //border-top-right-radius: $margin_size;
        //border-top-left-radius: $margin_size;
    }
    svg{
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
    }
    #poly_3{
        height: $first;
        polygon{
            fill: theme-color("dark");
        }
    }
    #poly_2{
        height: $second;
        polygon{
            fill: lighten($color: theme-color("dark"), $amount: 6.1%);
        }
    }
    #poly_1{
        height: $third;
        polygon{
            fill: lighten($color: theme-color("dark"), $amount: 12.2%);
        }
    }
    #poly_flat{
        height: $sixth;
        polygon{
            //fill: lighten($color: theme-color("dark"), $amount: 18.3%);
            fill: theme-color("primary");
        }
    }
    #poly_flat_Extrusion{
        height: $sixth + 0.5%;
        fill: $primary_extrusion_color;
    }
}