$main_color: #537791;
$base1 : #f7f6e7;

$first: 100vh * 0.6180;
$second: 100vh * 0.6180 * 0.6180;
$third: 100vh * 0.6180 * 0.6180 * 0.6180;
$forth: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$fifth: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$sixth: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;

@font-face{
    font-family: Josefin;
    src: url(assets/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}

body{
    background: $base1;
}

.hero_title_container{
    position: absolute;
    left: 0;
    top: 0;
    height: $second;
    width: 100vw;
    h1{
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        color: $main_color;
        position: absolute;
        bottom: 0;
        width: 100vw;
        margin: 0;
        font-size: 5rem;
        margin-bottom: -1.9rem;
        font-family: Josefin;
        @media (max-width: 480px) {
            font-size: 4rem;
            margin-bottom: -1.5rem;
        }
    }
}

.page_section{
    height: 100vh;
}

.half_background{
    position: absolute;
    left: 0;
    bottom: 0;
    height: $first;
    width: 100vw;
    background-color: $main_color;
}

@import "node_modules/bootstrap/scss/bootstrap.scss";