@import "node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
  "primary": #537791,
  "light": #f7f6e7,
  "dark": #537791
);

//These variables follow the golden ratio.
$first: 100vh * 0.6180;
$second: 100vh * 0.6180 * 0.6180;
$third: 100vh * 0.6180 * 0.6180 * 0.6180;
$forth: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$fifth: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$sixth: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;

@font-face{
    font-family: Josefin;
    src: url(assets/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face{
    font-family: Caveat-Bold;
    src: url(assets/fonts/Caveat/Caveat-Bold.ttf);
}
@font-face{
    font-family: Permanent_Marker;
    src: url(assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}
@font-face{
    font-family: Bebas_Neue;
    src: url(assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

body{
    background: theme-color("light");
}

.hero_title_container{
    position: relative;
    left: 0;
    top: 0;
    height: $second;
    width: 100vw;
    h1{
        white-space: nowrap;
        overflow: hidden;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100vw;
        margin: 0;
        font-size: 5rem;
        margin-bottom: -1.6rem;
        font-family: Bebas_Neue;
        @media (max-width: 480px) {
            font-size: 4rem;
            margin-bottom: -1.2rem;
        }
    }
}
.text_color_main{
    color: theme-color("primary");
}
.text_color_base{
    color: theme-color("light");
}

.page_section{
    min-height: 100vh;
    width: 100vw;
}

.half_background{
    //position: absolute;
    left: 0;
    bottom: 0;
    min-height: $first;
    width: 100vw;
}

.small_half{
    min-height: $second;
}
large_half{
    min-height: $first;
}

.main_color{
    background-color: theme-color("primary");
}

