
@use "../values" as values;

.modal-wrapper {
    position: absolute;
    background-color: transparent;
}

.modal-background {
    
    width: 100vw;
    min-height: 100vh;
    height: 100%;

    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    background: #323232a6;

    z-index: 10;
}

.modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: values.$white1;
    -webkit-box-shadow: 0px 0px 20px -6px #000000; 
    box-shadow: 0px 0px 20px -6px #000000;

    max-width: 600px;
    padding: 26px;
    margin-top: 100px;
    margin-bottom: 100px;

    .close-modal-button {
        // width: 100%;
        // text-align: right;
        align-self: flex-end;
        // background-color: red;
        padding: 10px;
        // color: white;
        cursor: pointer;
        font-weight: bold;
    }

    .project-image {
        max-width: 100%;
    }

    #modal-title {
        display: flex;
        justify-content: center;
        align-items: center;
        // background-color: values.$main;
        // color: values.$white1;
        padding: 26px;
        width: 100%;
        width: -webkit-fill-available;
    }

    .tech-list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-top: 22px;
        
        & > * {
            background-color: values.$white2;
            border-radius: 1000px;
            padding: 1px 10px 1px 10px;
            margin: 0px 1px 6px 1px;
            font-size: 16px;
        }
    }

    .project-description{
        margin-top: 16px;
        margin-bottom: 26px;
    }

    .project-links {
        margin-bottom: 26px;

        & > a {
            padding: 10px;
            padding-right: 0px;

            &:not(:last-child):after {
                content:'\2022';
                padding-left: 10px;
            }
        }
    }

    .highlights {
        margin-top: 0px;
        width: 100%;

        & > li {
            margin-bottom: 4px;
        }

        a {
            font-weight: 300;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}