
@use "./values" as values;

#hero-section {
    padding-top: 6em;
    padding-bottom: 2em;
    color: values.$light;
}

#hero-title {
    font-size: 3em;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 0px;
    margin-bottom: 0.3em;
}

#hero-jobtitle, #hero-company {
    margin-bottom: 0.4em;
    font-family: 'Raleway', sans-serif;
    font-size: 0.9em;
}

#hero-jobtitle {
    letter-spacing: 0.1em;
    font-weight: 300;
}

#hero-company {
    font-weight: 600;
}
