
#hero-section {
    padding-top: 6em;
    padding-bottom: 6em;
}

#hero-title {
    font-size: 4em;
    text-align: center;
    font-family: 'Titillium Web', sans-serif;
    margin-top: 0px;
    margin-bottom: 0.6em;
}

#hero-jobtitle, #hero-company {
    margin-bottom: 0.4em;
    font-family: 'Raleway', sans-serif;
}

#hero-jobtitle {
    letter-spacing: 0.1em;
    font-size: 1.2em;
    font-weight: 300;
}

#hero-company {
    font-weight: 600;
    font-size: 1em;
}
