/* You can add global styles to this file, and also import other style files */


$bg-primary: black;
$bg-secodary: black;

$mainColor: white;
$secondaryColor: silver;

$mainBackground: silver;


// version 4
@import 'variables';
@import '../node_modules/bootstrap/scss/bootstrap';

.main-2 {
    background-color: $secondaryColor;
}

.bg-primary{
    background-color: $bg-primary !important;
}