@import "node_modules/bootstrap/scss/bootstrap";

@import url('https://fonts.googleapis.com/css2?family=Teko&display=swap');

$theme-colors: (
  "light": white,
  "light-bg":  grey,
  "dark" : darkslategrey,
  "black" : darken(darkslategrey, 8%),
  "none": transparent
);

$primary_extrusion_color: lighten($color: theme-color("dark"), $amount: 0%);
$dark_extrusion_color: darken($color: theme-color("light"), $amount: 30%);

// Golden Ratio Variables
$first: 100% * 0.6180;
$second: 100% * 0.6180 * 0.6180;
$third: 100% * 0.6180 * 0.6180 * 0.6180;

$firstVH: 100vh * 0.6180;

@font-face{
    font-family: Bebas_Neue;
    src: url(assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

body{
    background: darken(theme-color("light"), 25%);
}

.hero-section{
    min-height: 100vh;
    position: relative;

    .hero-title{
        font-family: Bebas_Neue;
        line-height: 4rem;
    }
    .hero-sub-title{
        white-space: nowrap;
        font-size: 2rem;
        letter-spacing: 13px;
    }

    .top-svg-group{
        .top-svg{
            position: absolute;
            left: 0;
            top:0;
            fill: theme-color("dark");
            height: 105vh;
            width: 100%;
        }
        ._2{
            fill: darken(theme-color("dark"), 2%);
            height: $first;
        }
        ._3{
            fill: darken(theme-color("dark"), 4%);
            height: $second;
        }
    }

    .top-section-arrow{
        position: absolute;
        bottom: 20vh;
        left: 0;        
        text-align: center;
        width: 100%;
        font-size: 2rem;

        svg{
            stroke: theme-color("light");
            stroke-width: 10%;
            width: 2rem;
            height: 0.6rem;
            fill: none;
        }
    }
}

.links-section{
    // Gradients
    $mainGradientColor: lighten(theme-color("dark"), 0%);
    $darkGradient: $mainGradientColor, darken($mainGradientColor, 40%);
    $direction: 110deg;
    background: -moz-linear-gradient($direction, $darkGradient);
    background: -o-linear-gradient($direction, $darkGradient);
    background: linear-gradient($direction, $darkGradient);
    background: -webkit-linear-gradient($direction, $darkGradient);

    overflow: hidden;
    color: theme-color("light");

    .link-tem{
        $key-color : theme-color("dark");
        background: lighten($key-color, 5%);
        color: theme-color("light");
        border-bottom: solid 0.5rem $key-color;
        font-weight: bold;
    }

    #PCModelWrapper{
        position: absolute;
        right: 0;
        top: 0;
        pointer-events: none;
    }

}

.dark_bg{
    background: theme-color("dark");
    color: theme-color("light");
}

.light_bg{
    background: darken(theme-color("light"), 0%);
}

.darkFont{
    color: theme-color("dark");
}

.light-font{
    color: theme-color("light");
}

.resume-item-image {
    max-width: 50vw;
}
.rounded-img {
    // border-radius: 100rem;
    // border: 0.7rem solid darken(theme-color("light"), 5%);
}

.built-with-react-wrapper{
    background: darken(theme-color("light"), 3%);

    .built_with_react_component{
    font-style: italic;

        a{
            color: theme-color('dark');
            font-weight: bold;
        }
    }
}

.section-title{
    font-family: 'Teko', sans-serif !important;
    text-transform: uppercase;
    font-size: 3rem;
    border-bottom: solid #dee2e6 1px;
    font-family: 'Kumbh Sans', sans-serif;
}

@media (max-width: 575px) {

    .border
    {
      border:0px solid !important
    }


}