@import "node_modules/bootstrap/scss/bootstrap";

$theme-colors: (
  "primary": #F25757,
  //"light": #EAF2E3,
  "light": ghostwhite,
  //"dark": #3E4E50,
  "dark" : steelblue,
  "none": transparent
);
$primary_extrusion_color: lighten($color: theme-color("dark"), $amount: 0%);
$dark_extrusion_color: darken($color: theme-color("light"), $amount: 30%);

//These variables follow the golden ratio.
$first: 100% * 0.6180;
$second: 100% * 0.6180 * 0.6180;
$third: 100% * 0.6180 * 0.6180 * 0.6180;
$forth: 100% * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$fifth: 100% * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$sixth: 100% * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$seventh: 100% * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$eigth: 100% * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$ninth: 100% * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$tenth: 100% * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;


$firstVH: 100vh * 0.6180;
$secondVH: 100vh * 0.6180 * 0.6180;
$thirdVH: 100vh * 0.6180 * 0.6180 * 0.6180;
$forthVH: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$fifthVH: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$sixthVH: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$seventhVH: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$eigthVH: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$ninthVH: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;
$tenthVH: 100vh * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180 * 0.6180;

@font-face{
    font-family: Josefin;
    src: url(assets/fonts/Josefin_Sans/JosefinSans-Italic-VariableFont_wght.ttf);
}
@font-face{
    font-family: Caveat_Bold;
    src: url(assets/fonts/Caveat/Caveat-Bold.ttf);
}
@font-face{
    font-family: Permanent_Marker;
    src: url(assets/fonts/Permanent_Marker/PermanentMarker-Regular.ttf);
}
@font-face{
    font-family: Bebas_Neue;
    src: url(assets/fonts/Bebas_Neue/BebasNeue-Regular.ttf);
}

body{
    background: theme-color("light");
}

.dark_bg{
    background: theme-color("dark");
    color: theme-color("light");
}

.light_bg{
    background: theme-color("light");
}

.resume-item-image {
    max-width: 50vw;
}
.rounded-img {
    border-radius: 100rem;
    border: 0.7rem solid darken(theme-color("light"), 5%);
}

.built-with-react-wrapper{
    background: darken(theme-color("light"), 5%);

    .built_with_react_component{
    font-style: italic;

        a{
            color: theme-color('dark');
            font-weight: bold;
        }
    }
}

.darkFont{
    color: theme-color("dark");
}

.section-title{
    font-family: Bebas_Neue;
    font-style: italic;
    font-size: 6rem;
    border-bottom: solid 3px lighten(theme-color("dark"), 10%);
}
